/**********************************
GENERAL
***********************************/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: 6em;
  letter-spacing: 2px;
  text-align: center;
  padding: 70px 0 15px 0;
  margin: 0;
  color: #fff;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  text-align: center;
  padding-top: 40px;
  margin-top: 15px;
  font-size: 4em;
}

section {
  padding-bottom: 80px;
}

.content {
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  margin: 0 auto;
}

p {
  font-size: 1.2em;
  font-weight: 400;
}

/**********************************
NAVIGATION
***********************************/


header {
  height: 400px;
  padding: 15px 0 0 15px;
  background-color: #FFD351;
}

nav {
  list-style: none;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

nav ul {
  display: block;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  margin: 0 auto;
  color: #404040;
}
/**********************************
FOOTER
***********************************/

footer {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  background-color: #F9FAFA;
  border-top: 1px solid #e8ebee;
  border-bottom: 1px solid #e8ebee;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #404040;
}

/* logo text */
h2 {
  color: #404040;
}

/* links */
 a {
  color: #404040;
}

/* nav link */
a:visited {
  color: #404040;
}

/* selected link */
a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

 a:hover {
  color: #2D9AD2;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 1px solid;
}

.selected {
  color: #404040;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  border-bottom: 1px solid;
}

.twitter-follow-button {
  margin: 0 auto;
  padding: 15px;
}

/**********************************
MEDIA QUERIES
***********************************/

@media (max-width: 769px) {

  .content {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 1.6em;
  }
}

.projects {
  display: inline-block;
}

.projects li {
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #D6D6D6;
  border-radius: 15px;
  display: inline-block;
  clear: both;
  padding: 20px;
  margin: 10px;
  font-size: 1.2em;
  text-align: center;
}

span a {
  color: #2D9AD2;

}
