/**********************************
GENERAL
***********************************/

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#wrapper {
  max-width: 100%;
  margin: 0 auto;
}



a {
  text-decoration: none;
}

p {
  font-size: 1.2em;
  font-weight: 400;
}

li {
  font-size: .8em;
}

/**********************************
NAVIGATION
***********************************/

#logo {
  width: 80px;
  height: 80px;
  float: left;
  padding-right: 15px;
  text-align: center;
}

h1, h2 {
  padding: 0;
  margin: 0;
  display: block;
}

#logo-name {
  display: inline-block;
  float: left;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  padding-top: 10px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
}

header {
  height: 100px;
  max-width: 900px;
  padding: 15px 0 0 15px;
  margin: 0 auto;
}

section {
  border-bottom: 2px solid #303E49;
}

nav {
  text-align: center;
  list-style: none;
  font-size: 1.3em;
  float: right;
  display: inline-block;
  padding-right: 30px;
  max-width: 900px;
}

nav li {
  display: inline-block;
  padding: 10px;
}
/**********************************
FOOTER
***********************************/

footer {
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  clear: both;
  text-align: center;
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #2C333E;
}

/* header */


/* logo text */
h1, h2 {
  color: #303e49;
}

/* links */
a {
  color: #303e49;
}

/* nav link */
a:visited {
  color: #303e49;
}

/* selected link */
a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

 a:hover {
  color: #4D91C6;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 1px solid;
}

#content {
  width: 600px;
  margin: 0 auto;
}

img {
  background-size: cover;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

.selected {
  color: #4D91C6;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  transition-property: border;
  border-bottom: 1px solid;
}

.twitter-follow-button {
  margin: 0 auto;
}
