footer {
  width: 100%;
  height: 40rem;
  background-color: #1B2029;
}
.FooterContainer {
  max-width: 1072px;
  padding-top: 8.75rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.FooterHeader {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 4rem;
}
.LinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.LinksColumn {
  flex-direction: column;
  padding-right: 1rem;
  width: 15rem;
}
.LinkText {
  padding-bottom: 2.5rem;
  margin: 0;
}
.LinkText a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 1.25;
  font-style: normal;
  letter-spacing: -0.05rem;
}
.Copyright {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
}