@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #fff;
  color: #363c42;
  line-height: 1.6;
}
h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #283a4a;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5dab62;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}
p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 1rem;
}
strong {
  color: #333;
  font-weight: 600;
}
span {
  color: #5dab62;
}
time {
  font-size: .75rem;
  color: #238ccf;
  margin-bottom: 1rem;
}
a {
  color: #5dab62;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 1);
  transition: color .2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}
a:hover {
  -moz-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  color: #2293db;
}
ul {
  list-style: none;
  color: #f2f3f5;
  padding-left: 0;
  padding-bottom: 1rem;
}
li {
  color: #f2f3f5;
  border-bottom: 2px solid #324453;
  padding-top: .25rem;
  padding-bottom: .5rem;
}
li a {
  color: #5dab62;
}
li a:hover {
  color: #2293db;
}
footer {
  background-color: #283a4a;
  width: 100%;
  text-align: center;
}
footer h2 {
  color: #fff;
}
img {
  height: auto;
  width: 100%;
}
.container {
  padding: 4% 8%;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #283a4a;
  padding-top: 8rem;
  padding-bottom: 1rem;
}
.page-sub-title {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.side-projects {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.side-project {
  width: 30%;
}
.side-project a:hover {
  border: none;
}
.hire-me {
  font-size: 1rem;
  color: #fff;
  padding: .5rem .75rem;
  background-color: #f7fafc;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  transition: .2s;
  transform: scale(1);
}
.hire-me:hover {
  transition: .2s;
  transform: scale(1.1);
}
.hire p {
  font-size: 0.75rem;
  color: #2293db;
  padding-left: .5rem;
  padding-bottom: 0;
  margin: 0;
}
.available {
  background-color: #2293db;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
}
.available p {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 8px 16px;
  width: 100%;
  display: block;
  margin-bottom: 0;
}
.nav-links {
  padding: 4% 8%;
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
}
.menu {
  width: 46%;
  padding-right: 2%;
  border-bottom: 4px solid #324453;
  margin-bottom: 1rem;
}
.links {
  width: 46%;
  margin-left: 2%;
  padding-right: 0;
  border-bottom: 4px solid #324453;
  margin-bottom: 1rem;
}
.blog-posts {
  width: 46%;
  padding-right: 2%;
  border-bottom: 4px solid #324453;
  margin-bottom: 1rem;
}
.subscribe {
  width: 46%;
  padding-right: 2%;
}
.arrow-right {
  width: 10px;
  height: 10px;
}
form {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #5dab62;
}
input {
  height: 2rem;
  width: 100%;
  margin-right: .75rem;
  border: none;
}
.btn-submit {
  background-color: #2293db;
  color: #fff;
  max-width: 120px;
  font-weight: 600;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
  float: right;
  cursor: pointer;
}
.email {
  padding: 8px 16px;
  font-size: .6rem;
}
/* Responsive Layout*/
@media only screen and (max-width: 880px) {
  .side-project {
    width: 100%;
  }
  .available {
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
  }
  .available p {
    text-align: center;
  }
  .hire {
    margin: 0 auto;
  }
  .hire p {
    padding-top: 1rem;
    padding-left: 0;
    text-align: center;
  }
  .menu {
    width: 100%;
    padding-right: 0;
  }
  .links {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .blog-posts {
    width: 100%;
    padding-right: 0;
  }
  .subscribe {
    width: 100%;
    padding-right: 0;
  }
  .page-title {
    font-size: 2rem;
  }
  .page-sub-title {
    font-size: 1.5rem;
  }
}
