* {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  font-family: -apple-system,
    BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue,
    sans-serif;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
body {
  background-color: rgb(255, 255, 255);
}

.Container {
  margin: 0 auto;
}