div {
  width: 100%;
}
._3D68FHdqBZl5odwgPXskKr {
  animation: _1Dvb87DOWAuWdpsXnKbuVl 2s;
}
@keyframes _1Dvb87DOWAuWdpsXnKbuVl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}
._1RDWUMGS_Hf0vSQ1-gNBqz {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
}
h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 0;
  text-align: left;
  line-height: 1.25;
}
h2:nth-child(3) {
  padding-bottom: 0;
}
._1rshe_mh8WLGlcvlM7m4y {
  margin-top: 48px;
}
._1A4KnSV1oPDDDQ4QkMA3zk,
._1A4KnSV1oPDDDQ4QkMA3zk a {
  cursor: pointer;
  text-decoration: none;
}
._1A4KnSV1oPDDDQ4QkMA3zk ._1rshe_mh8WLGlcvlM7m4y {
  height: 24px;
  width: 24px;
  transition: all 0.2s ease-in-out;
}
._1A4KnSV1oPDDDQ4QkMA3zk:hover ._1rshe_mh8WLGlcvlM7m4y {
  transform: scale(1.4);
}
._10SE7JpOIRWHm_U33Ady6i {
  display: inline-flex;
  align-items: center;
}
._1A4KnSV1oPDDDQ4QkMA3zk ._2D9AjFEbXl-ki8wZgMUGCI {
  visibility: hidden;
  margin-left: 16px;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 16px 16px 16px 0;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 400;
  opacity: 0;
  text-decoration: none;
  transition: visibility 0s, opacity 0.7s linear;
}
._1A4KnSV1oPDDDQ4QkMA3zk:hover ._2D9AjFEbXl-ki8wZgMUGCI {
  visibility: visible;
  color: #fff;
  opacity: 1;
}
h1 a {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
h1 a:hover {
  color: #8c7df7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
h3 {
  padding-bottom: 8px;
}
header {
  padding-bottom: 24px;
  text-align: left;
  margin: 0 auto;
}
@media (max-width: 720px) {
  h1,
  h1 a {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;
    line-height: 28px;
  }
  header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
._3FvGqJGqu-rfpnGmeV5dKt {
  max-width: 1072px;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.5rem;
}
ul {
  padding: 0;
  margin: 0;
}
._167ruo453D1FUiAdFD84Yl {
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  padding: 8px 8px;
  margin: 8px -8px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}
._167ruo453D1FUiAdFD84Yl:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  outline: 0;
  transition: all 0.2s ease-in-out;
}
._167ruo453D1FUiAdFD84Yl:active {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
._1jB1WekFXyUgcK8zv1g5dF {
  height: 24px;
  width: 24px;
}
._2hPLer1QXgkUaX0Q99Gxjz {
  font-size: 1.125rem;
  font-weight: 600;
  padding-right: 0.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
._3Cg5tBlgM8qhCUY5B_Veyt {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
._3slxvaFgzCeE7qpTZw4SG7 {
  text-align: right;
}
._1Mg1QB4VfJ_JwUA0AhtLRK {
  text-align: left;
}
.Jz0yh9mWMgHheqJGrtQwL {
  display: inline-flex;
  text-align: right;
  list-style: none;
}
.Jz0yh9mWMgHheqJGrtQwL li {
  padding-right: 3rem;
}
.Jz0yh9mWMgHheqJGrtQwL li:last-of-type {
  padding-right: 0;
}
._1GCui28VPl76aICmLjnYli li:first-of-type {
  padding-left: 0;
}
._1GCui28VPl76aICmLjnYli {
  display: inline-flex;
  list-style: none;
}
._1GCui28VPl76aICmLjnYli li {
  padding-left: 3rem;
}
._2ncogciuIS7HFS3nkdSthy {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
._2ncogciuIS7HFS3nkdSthy:hover {
  color: #8c7df7;
  border-bottom: 2px solid #8c7df7;
}
a {
  text-decoration: none;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 40rem;
  background-color: #1B2029;
}
.gK7HZjpGPlEjoKWo1aOEs {
  max-width: 1072px;
  padding-top: 8.75rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.LTIh18ncOSwZWVVRQO-Y2 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 4rem;
}
._2PftuzmEzlKrtUMeqseEOV {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
._84EqeLTXlnrLWy5eP0rT1 {
  flex-direction: column;
  padding-right: 1rem;
  width: 15rem;
}
._3FlrFVZmtlc9Dsp7SE2QFi {
  padding-bottom: 2.5rem;
  margin: 0;
}
._3FlrFVZmtlc9Dsp7SE2QFi a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 1.25;
  font-style: normal;
  letter-spacing: -0.05rem;
}
._1rAXTSVYko2sVM85ziJ5ug {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
}
* {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
html {
  font-family: -apple-system,
    BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue,
    sans-serif;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
body {
  background-color: rgb(255, 255, 255);
}

._1F6FXwbNDOil6CviuFiLRx {
  margin: 0 auto;
}

/*# sourceMappingURL=styles.chunk.css.map*/