.NavContainer {
  max-width: 1072px;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.5rem;
}
ul {
  padding: 0;
  margin: 0;
}
.LogoLink {
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  padding: 8px 8px;
  margin: 8px -8px;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}
.LogoLink:hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  outline: 0;
  transition: all 0.2s ease-in-out;
}
.LogoLink:active {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.Logo {
  height: 24px;
  width: 24px;
}
.Name {
  font-size: 1.125rem;
  font-weight: 600;
  padding-right: 0.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.Job {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.NavContainerRight {
  text-align: right;
}
.NavContainerLeft {
  text-align: left;
}
.NavLinksRight {
  display: inline-flex;
  text-align: right;
  list-style: none;
}
.NavLinksRight li {
  padding-right: 3rem;
}
.NavLinksRight li:last-of-type {
  padding-right: 0;
}
.NavLinksLeft li:first-of-type {
  padding-left: 0;
}
.NavLinksLeft {
  display: inline-flex;
  list-style: none;
}
.NavLinksLeft li {
  padding-left: 3rem;
}
.NavLink {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.NavLink:hover {
  color: #8c7df7;
  border-bottom: 2px solid #8c7df7;
}
a {
  text-decoration: none;
  cursor: pointer;
}